.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .container.text-center
    %h1 Merchants
  - @merchants.each do |merchant|
    .container
      %h3
        = merchant.title
      %p
        = merchant.description
    .row
      .col-lg-1
        .btn.btn-md
          = link_to 'Show', merchant
      .col-lg-1
        .btn.btn-md
          = link_to 'Edit', edit_merchant_path(merchant)
      .col-lg-1
        .btn.btn-md
          = link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' }
  .btn.btn-md.btn-info
    = link_to 'New Merchant', new_user_merchant_path(@user)
