.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .container.text-center
    %h1 Merchants
  - if @user.is_seller?
    - unless @user.can_receive_payments?
      .panel.panel-default
        .panel-header.text-center
          %h4
            You wont be able to sell items until you register with Stripe!
        .panel-body.text-center
          = link_to 'Connect',
                    stripe_url,
                    class: 'btn btn-lg btn-info',
                    target: '_blank'
  - @merchants.each do |merchant|
    .col-xs-12.col-sm-12.col-md-6.col-lg-3
      .panel.panel-default
        .panel-header.text-center
          %h3
            = merchant.title
          %p
            = merchant.description
        .panel-body
          - if current_user == merchant.owner
            .row
              .col-lg-4
                = link_to 'Show', merchant, class: 'btn btn-md btn-warning btn-options'
              .col-lg-4
                = link_to 'Edit', edit_merchant_path(merchant), class: 'btn btn-md btn-warning btn-options'
              .col-lg-4
                = link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-md btn-warning btn-options'
          - else
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                = link_to 'Show', merchant, class: 'btn btn-md btn-success btn-options'

  %br
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
    .panel.panel-default
      .panel-header
        = link_to 'New Merchant', new_user_merchant_path(@user), class: 'btn btn-md btn-info'

  = render 'billing'
