.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .container
    = form_for [@merchant, @item], html: {class:'form-horizontal'} do |f|
      .form-group
        = f.label :title, class: 'control-label'
        = f.text_field :title, class:'form-control'
      .form-group
        = f.label :description, class: 'control-label'
        = f.text_field :description, class:'form-control'
      .form-group
        = f.label :price, class: 'control-label'
        = f.text_field :price, class:'form-control'
      .actions
        = f.submit class: "btn btn-success"
