.container
  .panel.panel-default
    .row
      .col-lg-2
        ID
      .col-lg-2
        Title & Description
      .col-lg-1
        Total
      .col-lg-1
        Link
      .col-lg-1
        Processed on Stripe?
      .col-lg-3
        Stripe Charge ID
      .col-lg-1
        Fee Charged

  - @transactions.each do |transaction|
    .row
      .col-lg-2
        = "Transaction ID: #{transaction.id}"
      .col-lg-2
        = transaction.merchant.title
        = transaction.merchant.description
      .col-lg-1
        = number_to_currency(transaction.total)
      .col-lg-1
        = link_to 'Show', transaction
      .col-lg-1
        = transaction.paid
      .col-lg-3
        = transaction.stripe_charge
      .col-lg-2
        = number_to_currency(transaction.fee_charged)
