.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .jumbotron.text-left
    %h2
      = "Details for Transaction #{@transaction.id}"
    %p
      %strong User:
      = @transaction.user.email
    %p
      %strong Merchant:
      = @transaction.merchant.title
      = @transaction.merchant.description

    %p
      %strong Item:
      = @item.title

    %p
      %strong Total Cost:
      = number_to_currency(@transaction.total)

    .row.text-center
      = link_to 'Back', merchants_path, class: 'btn btn-info'
