!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: {turbolinks_track: true}
  %body
    .container
      = yield
      %p.notice
        = notice
      %p.alert
        = alert
